* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: aquamarine;
}
.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel {
  position: relative;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  width: 70%;
  //height: 600px;

  button {
    position: absolute;
    z-index: 3;
    top: 50%;
    cursor: pointer;
    background: transparent;
    border: none;
    border-radius: 50%;
    &.left {
      left: 0px;
    }
    &.right {
      right: 0px;
    }
  }
}
.slide {
  width: 100%;
  height: 100%;
  object-fit: fill;
  box-shadow: -3px -1px 46px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -3px -1px 46px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -3px -1px 46px -1px rgba(0, 0, 0, 0.75);
}
.image {
  opacity: 0;
  transition: 1s ease;
  width: 100%;
  &.active {
    opacity: 1;
    transition: 1s;
    transform: scale(1.08);
  }
}
