* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: aquamarine;
}
.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;

  button {
    position: absolute;
    top: 50%;
    cursor: pointer;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    &.left {
      left: 32px;
    }
    &.right {
      right: 32px;
    }
  }
}
